:root {
  --cyan: #00BEE2;
  --petrol: #005B66;
  --grey: #f9f9f9;
  --grey2: #b9b9b9;
  --yellow: #fae48c;
  --blue: #2c3e70;
  --light_yellow: #f9f9f9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  background-color: lightyellow;
  color: var(--blue);
  line-height: 1.6;

  display: flex;
  flex-direction: column;
  min-height: 100%;  
}

html, body {
  height: 100%;
  margin: 0;
}

body a {
  color: var(--blue);
}

header {
  padding: 2rem 1rem;
  text-align: center;
  background-color: var(--blue);
  color: lightyellow;
}

header img {
  width: 100px;
  height: 36px;
  border-radius: 0%;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header h1 img {
  vertical-align: middle;
  position: relative;
  bottom: 2px
}

header p {
  margin: rem auto;
  color: var(--lightyellow);
}

section {
  max-width: 700px;
  margin: 1rem auto;
  padding: 0 1rem;
}

h2 {
  color: var(--blue);
  border-bottom: 1px solid var(--yellow);
  padding-bottom: 0.0rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p {
  color: #333;
}

.section {
  /* background-color: var(--yellow);*/
  padding: 0.2rem 1rem 0.2rem 1rem;
  /* border-radius: 8px; */
}

a.button {
  display: inline-block;
  padding: 0.5rem 0.65rem;
  margin-top: 0.5rem;
  background-color: var(--cyan);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.85rem;
}

a.button:hover {
  background-color: #00a0c5;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 20%; /* Makes the image circular */
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  color: var(--yellow);
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  color: var(--yellow);
  background-color: var(--blue);
}

.container {
  display: flex;
  flex: 1;
  gap: 40px;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: var(--yellow);
}

.sidebar ul {
  list-style-type: none;
  padding: 10px;
  margin-left: 20px;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color:var(--blue);
  font-weight: bold;
}

.sidebar a:hover {
  text-decoration: underline;
}

.content {
  flex-grow: 1;
}